---js
const eleventyNavigation = {
	key: "Blog",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---


<h1>Welcome !</h1>

<p>{{ metadata.description }}</p>


<h2>Recent Posts</h2>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}


<h2>Research & Upcoming Topics (hopefully)</h2>

<ul>
    <li><strong>DDPMs:</strong> Exploring Denoising Diffusion Probabilistic Models.</li>
    <li><strong>In-Context Optimization :</strong> Attention mechanisms (Ref : <a href="https://arxiv.org/abs/2212.07677">arXiv:2212.07677</a>) and the "distillation is in-context SNE" experiment.</li>
    <li><strong>Stochastic Gradient Descent :</strong> An introduction to abstract SGD.</li>
    <li><strong>Implicit Regularization :</strong> Analyzing neural network behavior (Ref : <a href="https://github.com/raphael-berthier/optim-notes/blob/main/notes.pdf">R. Berthier's lecture notes</a>).</li>
</ul>

<h2>Resources, Recommendations, & Challenges</h2>

<p><em>Coming soon...</em></p>


<h2>Thanks</h2>

<p><em>Coming soon...</em></p>
